{% extends 'layout.html' %}

{% block body %}

<style>
	html, body{
		background-color: 2377ff;
	}
	.jumbotron {
		margin-top: 15%;
	}
</style>

<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">Hello there,</h1>
		<p class="lead">Things work out best for those who work for it.</p>
		<hr class="my-4">
		<p>Let us try to make up your mood.</p>
		<a class="btn btn-primary btn-lg" href="/twitter" role="button"><i class="fab fa-twitter"></i> Login with Twitter</a>
	  </div>
</div>

{% endblock %}